.box {
  width: 150px;
  height: 150px;
  padding: 20px;
  background-color: red;
}

.box1 {
  border: 5px solid blue;
}

.box2 {
  margin-left: 200px;
  border: 5px solid rgb(195, 233, 24);
}

.box3 {
  margin-left: 400px;
  border: 5px solid rgb(228, 22, 224);
}
